/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 2, 2020, 12:36:22 AM
    Author     : hamid
*/
.hover_border_exit:hover{
    
    -fx-background-color:#ff0303;
    
}
.hover_border:hover{
    
    -fx-background-color:#E2E4DD;
    
}
.reduire:hover{
    
    -fx-background-color:#fff;
    
}

